
.container {
  width: 100%;
  margin: 40px;
    padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff4500;
}

h1 {
  text-align: left;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}